html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    font-size: 1rem; /* base para rem */
}

/* --- Fondo --- */
.background {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* --- Capa encima del fondo --- */
.overlay {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    border-radius: 1rem;
}

/* --- Título --- */
h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    color: #000;
}

/* --- Logo --- */
.logo-box {
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    width: 10vw;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* --- Botones --- */
.buttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons button {
    background-color: #C76B4E;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0.125rem 0.25rem 0.3125rem rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #a8563d;
}
